body {
  font-size: 16px;
  color: #fff;
  background-color: #006994;
  font-family: 'Architects Daughter', cursive;
  margin:0;
  padding:0;
}
#header-nav{
	background-color:#add8e6; 
}
.navbar-header{
	position: relative;
	padding-bottom:60px;
}
.navbar-brand {
	margin:0px;
	margin-left:10px;
	padding:0px;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
	position: absolute;
	bottom:0px;
	right:0px;
}
.boxing{
	background-color:#add8e6; 
	margin:5px;
	padding:5px;
	height:1000px;
	overflow: auto;
}
h3{
	text-align: center;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
@media(max-width:452px){
	.navbar-header{
	padding-bottom:120px;
	}
	.navbar-brand p{
		width:80%;
	}

}